body {
  margin: 0px;
}
#bg {
  background-color: #CEE0DC;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board {
  display: grid;
  background-color: #9C8878;
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
  aspect-ratio: 1/1;
  width: 500px;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 525px) {
    width: 95vw;
  }
}